.section-phone {
  height: 90vh;
}

.phone-container {
  display: flex;
}

.container-right,
.container-left {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

img {
  width: 24rem;
}

.container-left p {
  font-size: 2.8rem;
  color: rgb(183, 50, 216);
}
