.section-tv {
  height: 90vh;
}

.tv-container {
  display: flex;
}

.container-right,
.container-left {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 25rem;
  height: 25rem;
}

.container-right {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
