.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  height: 78vh;
}

.registration-form {
  padding: 1rem;
  margin: 1rem;
}

.form-group {
  padding: 0px;
  margin: 0.5rem;
}

h2 {
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 4rem;
  text-align: center;
  color: rgb(140, 0, 175);
}

.reg-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.1rem;
  text-align: center;
  font-size: 0.9rem;
  color: red;
}
